main {
  max-width: 100%;
}
.aboutMe {
  padding: 5% 0;
  background: $lightGrey; /* fallback for old browsers */
  background: linear-gradient(to bottom, darken($softWhite, 5%) , lighten($lightGrey, 10%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
  .flexContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .bioImage, .bio {
      width: 50%;
      padding: 5%;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }
    .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .socialParent {
        width: 100%;
      .social {
        width: 27%;
        margin-top: 2%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
      }
    }
  }
}
