footer {
	max-width: 100%;
	background: $softBlack;
	.flexContainer {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		p {
			color: $softWhite;
			text-transform: lowercase;
			font-family: $headingFont;
			font-size: 1.8rem;
			letter-spacing: 3px;
		}
		.socialLinks {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
		}
	}
}