// Header Nav 

.diamond__nav {
	ul {
		display: flex;
		flex-flow: column wrap;
		align-content: flex-end;
		transform: rotate(-45deg);
		li {
			transform: rotate(45deg);
			padding: 7%;
			a {
				color: $spearmintGreen;
				font-family: $fancyFont;
				font-size: 2.3rem;
				font-weight: bold;
				padding: 10px;
				text-transform: lowercase;
				letter-spacing: 3px;
				&:hover {
					color: $softBlack;
					text-shadow: 1px 1px 1px $spearmintGreen;
				}
			}
		}
	}
}

// About & Footer Social Links Nav

footer, .social {
	ul {
		display: flex;
		flex-flow: row wrap;
		li {
			a {
				padding: 10px;
			}
			.fa {
				font-size: 2.2rem;
				
			}
		}
	}
}