// Header Nav 

.diamondNav {
	width: 15%;
	@media (max-width: 600px) {
		width: 50%;
		position: absolute;
		top: 75%;
		left: 10%;
	}
	ul {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		align-content: flex-end;
		transform: rotate(-45deg);
		li {
			transform: rotate(45deg);
			padding: 10px;
			@media (max-width: 480px) {
				padding: 8px;
			}
			a {
				color: $spearmintGreen;
				font-family: $fancyFont;
				font-size: 2.4rem;
				font-weight: bold;
				padding: 10px;
				text-transform: lowercase;
				letter-spacing: 3px;
				&:hover {
					color: $softBlack;
					text-shadow: 1px 1px 1px $medGrey;
				}
				@media (max-width: 600px) {
					font-size: 2.3rem;
					color: $softBlack;
				}
			}
		}
	}
}

// Fixed Side Nav
.fixedNav {
	display: none;
	width: 13%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background: fade-out($mintGreen, 0.2);
	@media (max-width: 1170px) {
		width: 0;
	}
	.fixedLinks ul {
		@media (max-width: 1170px) {
			display: none;	
		}
		li {
		  	padding: 30px 0 30px 10px;
			a {
		      color: $softBlack;
		      font-family: $headingFont;
		      text-transform: lowercase;
		      font-size: 3.5rem;
		      padding: 10px;
		      position: relative;
		      &::after {
		      	content: '';
		      	display: block;
		      	width: 50%;
		      	height: 2px;
		      	background: darken($mintGreen, 15%);
		      	position: absolute;
		      	bottom: 0;
		      	left: 15px;
		      }
		      &:hover {
		        color: $spearmintGreen;
		      }
			}
  		}
  	}
  	.social {
  		margin-top: 45px;
		padding-left: 12px;
		.fa {
			font-size: 3rem;
		}
		@media (max-width: 1170px) {
			display: none;	
		}
  	}
}

// About & Footer Social Links Nav

footer, .social {
	ul {
		display: flex;
		flex-flow: row wrap;
		li {
			a {
				padding: 10px;
			}
			.fa {
				font-size: 2.5rem;
				
			}
		}
	}
}