// Header Nav 

.diamond__nav {
	ul {
		display: flex;
		flex-flow: column wrap;
		transform: rotate(-45deg);
		li {
			margin: 10px;
			// transform: rotate(-45deg);
			a {
				color: $softBlack;
				font-family: $baseFont;
				font-size: 2rem;
				font-weight: bold;
				padding: 10px;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
	}
}

// Footer Nav

footer {
	ul {
		display: flex;
		flex-flow: row wrap;
		li {
			a {
				padding: 10px;
			}
			.fa {
				font-size: 2.2rem;
				
			}
		}
	}
}