h1, h2, h3 {
	text-transform: lowercase;
	font-family: $fancyFont;
	color: $softBlack;
	text-shadow: 1px 1px 1px darken($mintGreen, 10%);
}

h1 {
	font-size: 5.5rem;
	letter-spacing: 9px;
	position: relative;
	margin-top: 13%;
	&::after {
		content: '';
		display: block;
		width: 20%;
		height: 2px;
		background: darken($mintGreen, 10%);
		position: absolute;
		bottom: -12px;
		left: 5px;
	}
}

h2.webDev {
	font-size: 2rem;
	font-family: $baseFont;
	text-transform: uppercase;
	color: $softBlack;
	letter-spacing: 2px;
	margin: 0;
	position: absolute;
	top: 57%;
	right: 37.5%;
}

h2:not(.webDev) {
	font-size: 3rem;
	position: relative;
	&::after {
		content: '';
		display: block;
		width: 15%;
		height: 2px;
		background: darken($mintGreen, 10%);
		position: absolute;
		bottom: -12px;
		left: 5px;
	}
}

a {
	color: $medGrey;
	text-decoration: none;
	&:hover {
		color: $spearmintGreen;
	}
}

/* paragraphs */

p {
	font-family: $baseFont;
	line-height: 1.7;
}

/* lists */
ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}