h1, h2, h3 {
	text-transform: lowercase;
	font-family: $fancyFont;
	color: $softBlack;
	text-shadow: 1px 1px 1px darken($mintGreen, 10%);
}

h1 {
	font-size: 5.5rem;
	letter-spacing: 9px;
	position: relative;
	margin-top: 13%;
	&::after {
		content: '';
		display: block;
		width: 20%;
		height: 2px;
		background: darken($mintGreen, 10%);
		position: absolute;
		bottom: -12px;
		left: 5px;
	}
}

h2.webDev {
	font-size: 2rem;
	font-family: $baseFont;
	text-transform: uppercase;
	color: $softBlack;
	letter-spacing: 2px;
	margin: 0;
	position: absolute;
	top: 57%;
	right: 37.5%;
}

h2:not(.webDev) {
	font-size: 3rem;
	position: relative;
	margin: 0;
	padding: 0;
	&::after {
		content: '';
		display: block;
		width: 25%;
		height: 2px;
		background: darken($mintGreen, 10%);
		position: absolute;
		bottom: -12px;
		left: 2px;
	}
}

a {
	color: $medGrey;
	text-decoration: none;
	&:hover {
		color: $spearmintGreen;
	}
}

/* button */
button {
  border: 3px solid lighten($medGrey, 5%);
  background: none;
  padding: 1% 2%;
  &:hover {
  	border: 3px solid lighten($spearmintGreen, 5%);
  }
  a {
    text-transform: lowercase;
    font-family: $headingFont;
    font-size: 2.3rem;
    color: darken($mintGreen, 30%);
    letter-spacing: 2px;
    &:hover {
      color: $medGrey; 
    }
  }
}

/* paragraphs */

p {
	font-family: $baseFont;
	line-height: 1.8;
}

/* lists */
ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}



/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}